.about-us {
  min-height: 580px;
  background-color: @darkgrey;
}

.about-us__wrapper {
  margin: 0;
  padding: 0;

}

.about-us__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; //vertical
  text-align: center;
  color: @white;
}

.about-us__slogan {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

.about-us__intro {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  height: 300px;
  min-width: 320px;
  align-items: center; //vertical
  justify-content: center;//horizontal

  @media (min-width: @tablet-width) {
    height: 215px;
  }
}

.about-us__teachers {
  min-height: 580px;
  margin: 0;
  padding: 0;
  background-color: @white;
}

.teachers-list {
  position: absolute;
  display: flex;
  list-style: none;
  background-color: @darkwhite;
  margin: 40px 20px 25px 20px;
  min-width: calc(100% - 82px);
  min-height: 515px;
  border-radius: 20px;
}
