.main-nav {
  position: relative;
  width: auto;
  // outline: 5px solid red;
  // outline-offset: -3px;
  min-height: 51px;
  background-color: @lightred;
}

.main-nav__toggle {
  display: absolute;
  top: 0;
  right: 0;
  left: auto;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: @darkred;
  cursor: pointer;
  border: none;
  outline: 5px solid yellow;
  outline-offset: -3px;

  &:hover,
  &:active {
    background-color: @activered;
  }
}

.main-nav__closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: @white;
  box-shadow: 0 8px 0 0 #FFFFFF, 0 16px 0 0 #FFFFFF;
}

.main-nav__closed .main-nav__toggle:active::before {
  background-color: fade(@white, 30%);
  box-shadow:
    0 8px 0 0 fade(@white, 30%),
    0 16px 0 0 fade(@white, 30%);
}

@media (max-width: @mobile-width-only) {
    .main-nav__closed .site-list__item {
      display: none;

      &--active {
        display: block;
      }
    }

    .main-nav__closed .site-list__item--active a {
      padding-right: 70px;
      padding-left: 70px;
      text-align: center;
    }

    .main-nav__closed .user-list__item {
      display: none;
    }

    .main-nav__opened .main-nav__wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 70px;
      z-index: 10;
      min-height: 80vh;
      background-color: @lightred;
    }

    .main-nav__opened .main-nav__wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 7px;
      height: 100%;
      box-shadow: inset 4px 0 7px -2px fade(@black, 40%);
    }

    .main-nav__nojs .main-nav__toggle {
      display: none;
    }

    .main-nav__nojs .main-nav__wrapper {
      position: static;
      min-height: 0;
    }

    .main-nav__nojs .site-list__item {
      display: block;
    }

    .main-nav__nojs .site-list__item--active a {
      padding-right: 21px;
      padding-left: 21px;
      text-align: left;
    }

    .main-nav__nojs .user-list__item {
      display: block;
      background-color: @darkred;
    }
}

.main-nav__opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: @white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@white, 30%);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  // outline: 5px solid yellow;
  // outline-offset: -5px;
}

.main-nav__list a {
  color: #FFFFFF;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}


