.page-footer {
  grid-row: 3 / 4;
  margin: 0;
  padding: 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33px 211px 100px 48px;
    position: absolute;
    min-width: 280px;
    min-height: 392px;
  }

  &__contacts {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    min-width: 280px;
    min-height: 244px;
  }

  &__socials {
    min-width: 280px;
    height: 100px;
  }

  &__copyright {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    /* © */
    position: absolute;
    width: 160px;
    height: 24px;
    left: 20px;
    bottom: 20px;
    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;/* or 171% */
    /* Gray 4 */
    color: #bdbdbd;
  }
}

.contacts {
  /* grey back */
  position: absolute;
  min-width: 320px;
  height: 211.08px;
  left: 0;
  background-color: @footergrey;
  bottom: 148px;
  font-size: 18px;
  line-height: 27px;
  font-family: PT Sans Narrow;
  font-style: normal;
  font-weight: bold;
  color: white;

  &__title {
    font-weight: 700;
  }

  &__text {
    font-weight: 400;
  }

  &__phone {
    font-weight: 700;
    color: #bbc4c9;
  }

  &__phone-mobile {

  }
}

.social__item {
  border: 1px solid @lightgrey;
}

.social__link {
  width: 36px;
  height: 36px;

  &--youtube {
    background: url(/icons/icon-youtube.svg) no-repeat 50% 50%;
  }

  &--tiktok {
    background: url(/icons/TikTok-Negative.svg) no-repeat 50% 50%;
  }

  &--instagram {
    background: url(/icons/instagram-icon.svg) no-repeat 50% 50%;
  }
}
