.page-header {
  display: flex;
	flex-direction: column;
	background-color: @darkgrey;
	color: @white;
  outline: 5px solid rgba(0, 0, 255, 0.8);
  outline-offset: -2px;
}

.page-header__logo {
  height: 80px;
  width: 100%;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

	@media (min-width: @tablet-width){
    order: 2;
		height: 400px;
    background-color: @black;
    background-image: url("/source/img/back-tablet.png");
    background-repeat: no-repeat;
    background-position: 50% -9px;
  }

  @media (min-width: @desktop-width){
    height: 648px;
    background-position: 50% 0;
    background-size: cover;
	}
}

.page-header__logo img {
  width: 355px;
  height: 80px;
}
