.page {
  height: 100%;
  min-width: auto;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
}

.page__body {
  width: auto;
  margin: 0;
  background-color: @darkgrey;
  color: #000000;
}
