.page-footer {
  margin: 0;
  padding: 0;
}
.page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 33px 211px 100px 48px;
  position: absolute;
  min-width: 320px;
  min-height: 392px;
}
.page-footer__contacts {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  min-width: 320px;
  min-height: 244px;
}
.page-footer__socials {
  min-width: 320px;
  height: 100px;
}
.social__item {
  border: 1px solid #4A4A4A;
}
.social__link {
  width: 36px;
  height: 36px;
}
.social__link--youtube {
  background: url('source/icons/icon-youtube.svg') no-repeat 50% 50%;
}
.social__link--tiktok {
  background: url('source/icons/TikTok-Negative.svg') no-repeat 50% 50%;
}
.social__link--instagram {
  background: url('source/icons/instagram-icon.svg') no-repeat 50% 50%;
}
.page-footer__copyright {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  /* © */
  position: absolute;
  width: 160px;
  height: 24px;
  left: 20px;
  bottom: 20px;
  font-family: PT Sans Narrow;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  /* Gray 4 */
  color: #bdbdbd;
}
