.site-list {
  outline: 5px solid green;
  outline-offset: -5px;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 570px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 780px;
  }
}
